body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(90deg, #cdc6ff 33.33%, #c2bcff 33.33%, #c2bcff 66.66%, #c3b5ff 66.66%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0px;
}
.jumbotron{
  margin-top: 10rem;
}